<div class="rock-details">
    <div class="content-wrap">
        <!-- <h2 class="page-title divider">Baltic amber</h2> -->

        <div class="rock-details-box">
            <div class="rock-details-img-container">
                <img src="../../assets/images/{{rock.imageUrl}}" class="rock-details-img" alt="Rock Image" />
            </div>

            <div class="rock-details-info">
                <div class="rock-details-name">
                    {{rock.name}}
                </div>
                <div class="rock-details-like-creator">
                    <div class="rock-like rock-details-like">
                        <!-- if isLoggedIn && !isOwner -->
                        <ng-container *ngIf="isLoggedIn && !isOwner">
                            <!-- if likeId -->
                            <button *ngIf="likeId" type="submit" (click)="likeHandler()" class="liked btn-unset">
                                <i class="fas fa-heart"></i> {{likesCount}}
                            </button>
                            <!-- else -->
                            <button *ngIf="!likeId" type="submit" (click)="likeHandler()" class="btn-unset">
                                <i class="fas fa-heart"></i> {{likesCount}}
                            </button>
                        </ng-container>

                        <!-- else -->
                        <ng-container *ngIf="!(isLoggedIn && !isOwner)">
                            <i class="fas fa-heart"></i> {{likesCount}}
                        </ng-container>
                    </div>
                    <div class="rock-creator rock-details-creator">
                        <!-- if isOwner -->
                        <!-- <a href="#">My rocks</a> -->
                        <!-- else -->
                        By <a href="#">{{rock.owner.username}}</a>
                    </div>
                </div>

                <table>
                    <!-- <tr>
                        <td>Name:</td>
                        <td class="bold">{{rock.name}}</td>
                    </tr> -->
                    <tr>
                        <td>Origin:</td>
                        <td class="bold">
                            <div>{{rock.origin}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Size:</td>
                        <td class="bold">{{rock.length}} x {{rock.height}} x {{rock.width}} cm</td>
                    </tr>
                    <tr>
                        <td>Weight:</td>
                        <td class="bold">{{rock.weight}} g</td>
                    </tr>
                </table>

                <!-- if isOwner -->
                <div *ngIf="isOwner" class="rock-details-btns">
                    <a routerLink="edit" class="edit-btn button">Edit</a>
                    <button (click)="delete()" class="delete-btn button">Delete</button>
                </div>
            </div>
        </div>

        <div class="rock-details-links">
            <a routerLink="/rocks">All rocks</a>
        </div>
    </div>
</div>