/* Footer
.................................................. */
footer {
    color: #E8E8E8;
    font-size: 1rem;
    background-color: #006C6C;
    background-image: linear-gradient(315deg, #385388 0%, #808080, #006C6C 75%);
    text-align: center;
}