<div class="all-rocks">

    <div class="content-wrap">
        <section class="rock-list">

            <!-- if any -->
            <div *ngFor="let rock of rocks" class="rock-box">

                <div class="rock-img-container">
                    <a href="rock-details.html"><img src="../../assets/images/{{rock.imageUrl}}" class="rock-img" /></a>
                </div>

                <div class="rock-info">

                    <div class="rock-name">
                        <a href="rock-details.html">{{rock.name}}</a>
                    </div>

                    <div class="rock-like">
                        <!-- if !isOwner && !isLiked && isLoggedIn -->
                        <form *ngIf="!isOwner && !isLiked && isLoggedIn; else cantLike" onSubmit={likeHandler}>
                            <button type="submit" class="btn-unset">
                                <i class="fas fa-heart"></i> {{rock.likes}}
                            </button>
                        </form>
                        <!-- else -->
                        <ng-template #cantLike>
                            <i class="fas fa-heart"></i> {{rock.likes}}
                        </ng-template>
                    </div>

                    <div class="rock-creator">
                        <!-- if isOwner -->
                        <ng-template *ngIf="isOwner; else owner">
                            <a href="#">My rocks</a>
                        </ng-template>
                        <!-- else -->
                        <ng-template #owner>
                            By <a href="#">{{rock.username}}</a>
                        </ng-template>
                    </div>

                </div>

            </div>

            <!-- if rocks.length === 0 -->
            <div *ngIf="rocks.length === 0">
                <h3>Welcome to the rocks page!</h3>
                <p>There are no rocks found.</p>
                <p>Please try again later.</p>
            </div>

        </section>
    </div>
</div>