<div class="all-rocks">

    <div class="content-wrap">
        <section class="rock-list">

            <!-- if any -->
            <div *ngFor="let rock of rocks" class="rock-box">

                <div class="rock-img-container">
                    <a routerLink="/rocks/{{rock._id}}"><img src="../../assets/images/{{rock.imageUrl}}"
                            class="rock-img" /></a>
                </div>

                <div class="rock-info">

                    <div class="rock-name">
                        <a routerLink="/rocks/{{rock._id}}">{{rock.name | slice : 15}}</a>
                    </div>

                    <!-- <div class="rock-creator">
                        <ng-container *ngIf="isOwner(rock._ownerId)">
                            <a routerLink="/rocks/my">My rocks</a>
                        </ng-container>
                        <ng-container *ngIf="!isOwner(rock._ownerId)">
                            By <a routerLink="/rocks/by/{{rock._ownerId}}"
                                [state]="{username: rock.owner.username}">{{rock.owner.username}}</a>
                        </ng-container>
                    </div> -->

                </div>

            </div>

            <!-- if rocks.length === 0 -->
            <div *ngIf="rocks.length === 0">
                <p>No favourite rocks added yet!</p>
            </div>

        </section>
    </div>
</div>