<div class="all-rocks">

    <div class="content-wrap">
        <section class="rock-list">

            <!-- if any -->
            <div *ngFor="let rock of rocks" class="rock-box">

                <div class="rock-img-container">
                    <a routerLink="/rocks/{{rock._id}}"><img src="../../assets/images/{{rock.imageUrl}}"
                            class="rock-img" /></a>
                </div>

                <div class="rock-info">

                    <div class="rock-name">
                        <a routerLink="/rocks/{{rock._id}}">{{rock.name | slice : 15}}</a>
                    </div>

                    <!-- <div class="rock-like">
                        <form onSubmit={likeHandler}>
                            <button type="submit" class="btn-unset">
                                <i class="fas fa-heart"></i>
                            </button>
                        </form>
                    </div> -->

                    <!-- <div class="rock-creator">
                        By <a href="#">{{rock.owner.username}}</a>
                    </div> -->

                </div>

            </div>

            <!-- if rocks.length === 0 -->
            <div *ngIf="rocks.length === 0">
                <!-- <h3>Welcome to the rocks page!</h3>
                <p>There are no rocks found.</p> -->
                <p>You haven't added any favourite rocks yet!</p>
            </div>

        </section>
    </div>
</div>