/* @import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap'); */

/* Global
.................................................. */
html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Resets */
body, header, main, footer, div, section, nav, p, ul, li, a, h1, h2, h3, h4, h5, h6, img, btn {
    padding: 0;
    margin: 0;
}

body {
    font-size: 0px;
    font-family: Dubai;
    color: #000000;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    /* to keep footer at the bottom (also code in main) */
    min-height: 100vh;
}

button, .button {
    color: #000000;
    font-size: 0.9rem;
    font-family: Dubai;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    padding: 2px 8px;
    overflow: hidden;
    background-color: #F2F0F0;
}

.btn-unset {
    all: unset;
    cursor: pointer;
}

.content-wrap {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
}

.divider {
    border-bottom: 1px solid #808080;
}

h1 {
    font-size: 2.2rem;
    font-family: 'Rancho', cursive;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 0 40px 0;
}

h3 {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #006A6A;
}

/* main */

main {
    font-size: 1rem;
    background-color: #F2F0F0;
    /* to keep footer at the bottom (also code in body) */
    flex-grow: 1;
}

main .content-wrap {
    padding: 60px 0;
}


/* Responsive
-------------------------------------------------- */
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }

    main .content-wrap {
        padding: 24px 0;
    }
    
    h2 {
        margin-bottom: 12px;
    }
}