<header class="divider">
    <div class="content-wrap">
        <nav>
            <div class="navigation">
                <div class="logo">
                    <a href="#">
                        <h1>Rock Hunters</h1>
                    </a>
                </div>

                <div class="nav-bar">
                    <ul class="left-nav">
                        <li class="nav-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="rock-list.html">Rocks</a>
                        </li>

                        <!-- {isAuthenticated && ( -->
                        <!-- <li class="nav-item">
                            <a href="favourite.html">Favourite</a>
                        </li> -->
                        <!-- )} -->

                    </ul>
                    <ul class="right-nav">

                        <!-- {!isAuthenticated && ( -->
                        <li class="nav-item">
                            <a href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="register.html">Register</a>
                        </li>
                        <!-- )} -->

                        <!-- {isAuthenticated && ( -->
                        <!-- <li class="nav-item">
                            <a href="rock-add.html">Add</a>
                        </li>
                        <li class="nav-item">
                            <a href="rock-my.html">My Rocks</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Logout</a>
                        </li> -->
                        <!-- )} -->

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>