<header class="divider">
    <div class="content-wrap">
        <nav>
            <div class="navigation">
                <div class="logo">
                    <a href="#">
                        <h1>Rock Hunters</h1>
                    </a>
                </div>

                <div class="nav-bar">
                    <ul class="left-nav">
                        <li class="nav-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="rock-list.html">Rocks</a>
                        </li>

                        <!-- if isLoggedIn -->
                        <li *ngIf="isLoggedIn" class="nav-item">
                            <a href="favourite.html">Favourite</a>
                        </li>
                    </ul>
                    <ul class="right-nav">
                        <!-- if !isLoggedIn -->
                        <li *ngIf="!isLoggedIn" class="nav-item">
                            <a routerLink="/login">Login</a>
                        </li>
                        <li *ngIf="!isLoggedIn" class="nav-item">
                            <a routerLink="/register">Register</a>
                        </li>

                        <!-- else -->
                        <li *ngIf="isLoggedIn" class="nav-item">
                            <a href="rock-add.html">Add</a>
                        </li>
                        <li *ngIf="isLoggedIn" class="nav-item">
                            <a href="rock-my.html">My Rocks</a>
                        </li>
                        <li *ngIf="isLoggedIn" class="nav-item">
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>