<div class="home">

    <div class="banner divider">
        <!-- <img src="../../public/images/home_banner.jpg" alt="banner image" /> -->
    </div>

    <div class="content-wrap">
        <section id="introduction">
            <h2>Welcome to the Rock Hunters!</h2>
            <p>
                This is a web site to gather rock hounds from all around the world,
                <br />
                where each collector get to share their own incredible specimens,
                <br />
                thus creating a magnificent exhibition of crystals, minerals and fossils.
            </p>
        </section>
    </div>
</div>