/* ********** HOME ********** */

.home {
    text-align: justify;
}

.content-wrap {
    max-width: 800px;
}

/* Banner */
.banner {
    width: 100%;
    height: 400px;
}

/* Introduction */
h2 {
    color: #006C6C;
    text-align: center;
}

p {
    font-size: 1.1rem;
    text-align: center;
    max-width: 560px;
    margin: auto;
}